<!DOCTYPE html>
<html lang="ru">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="wrapper container-fluid">

        <%- include('./partials/logo.ejs') %>

        <%- include('./partials/authorization.ejs') %>

        <%- include('./partials/game.ejs') %>

    </div>

    <%- include('./partials/popups/waiting.ejs') %>

    <%- include('./partials/popups/info.ejs') %>
    
    <%- include('./partials/popups/result.ejs') %>

    <%- include('./partials/scripts.ejs') %>

</body>

</html>